/* Card.module.css */

.card {
    width: 250px; /* Ancho de la tarjeta */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px;
  }
  
  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #19d4bb;
    color: white;
  }
  
  .cardContent {
    padding: 15px;
  }
  
  .cardImg {
    width: 100%;
    height: auto;
    max-height: 150px; /* Altura máxima de la imagen */
    object-fit: cover; /* Ajusta la imagen manteniendo la relación de aspecto */
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
  }
  
  .button {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 15px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #ddd;
  }
  
  
  


/* .fondo{
    background-color: blue(0, 0, 0);
    height: 100%;
    
}
.fondo:hoder{
    border-radius: 20px;
}

.cardsEnLinea{
    display: flex;
    justify-content: space-around;
}

.title{
    color: whitesmoke;
    color-interpolation-filters: auto;
    text-align: center;
}

.borde{
    border-radius: 200px;
}

.buttonSearch:hover{
    background-color: rgb(241, 11, 11);
    border: 1.5px solid rgb(180, 170, 170);
    color:rgb(0, 0, 0)
}

.posicion{
    display: relative;
    bottom: -500x;
    color: #ca5304;
    margin-Right: 15px;
    margin-Top: -10px; 

} */
