.container{
    display: flex;
    align-items: center;
}

.search{
    border: none;
    border-radius: 5px;
    padding: 7px 10px;  
    font-size: 15px;
   
}

.button{
   background-color: #19d4bb;
   font-size: 15px;
   font-family: 'Aharoni', sans-serif;
   border: none;
   border-radius: 5px;
   padding: 7px 10px;
   cursor: pointer;
   margin-bottom: 2px;
   margin-right: 10px;
   margin-left: 1px;
}

.button:hover{ 
    transform: scale(1.1);
    transition: all 0.3s;
    color:purple;
    background-color: black;
}

