.fondo{
    background-color: blue(0, 0, 0);
    height: 100%;
}
.fondo:hoder{
    border-radius: 20px;
}
.cardsEnLinea{
    display: flex;
    justify-content: space-around;
}
.borde{
    border-radius: 200px;
}