nav{
    background-color: purple;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 60% 5% 5% 5% 30%;
    justify-content: space-between;
    padding: 10px 15px;
    margin-bottom: 30px;
}

.container{
    display: grid;
}

.active{
    -webkit-text-stroke: 1px black;
    color: black(230, 20, 20, 0.856);
    text-underline-offset: 5px;
    text-decoration: yellowgreen;
}

.disable{
    text-decoration: none;
    color: inherit;
}