.fondo{
    background-image: url("https://wallpaperaccess.com/full/2880737.png");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;   
    overflow-y: auto; 
}
.contenedor{
    display: grid; 
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: center;
    padding: 40px;
    gap: 40px;
    backface-visibility: hidden;
    transform: translate(0);
    transition: transform 0.25s ease-out;
}

.fondo{
    background-color: blue(0, 0, 0);
    height: 100%;
}
.fondo:hoder{
    border-radius: 20px;
}
.cardsEnLinea{
    display: flex;
    justify-content: space-around;
}
.borde{
    border-radius: 200px;
}
.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}
.order{
    background-color: purple;
    font-family: 'Aharoni', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}
.order:hover{
  transform: scale(1.1);
  transition: all 0.3s;
  background-color: black;
  color: purple;
}
.type{
    background-color: purple;
    font-family: 'Aharoni', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.type:hover{
    transform: scale(1.1);
    transition: all 0.3s;
    background-color: black;
    color: purple; 
}